Form
db_read
db_sq3_ver1
./*.png
methods
minerals.sqlite3
minerals.sql
minerals.sqlite3_OLD
minerals.sqlite3_BAK
minerals.sqlite3.BAK*
minerals.sqlite3_BAK*
rails
rails/*
box*
zzz
*.BAK
*.OLD
*.swp
m_count
Misc
Misc/*
pymin
pymin2
label_preview.ps
label_preview.png
label_sheet.ps
boiler_ORIG.ps
*.csv
bird.py
fish.py
pycheck
__pycache__
python/__pycache__
